.artistcard {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 300px;
    margin: 20px;
    background-color: var(--card-color);
    text-align: center;
    transition: 200ms;
}
.artistcard:hover {
    background-color: var(--card-color-hover);
    border-color: var(--border-color-hover);
    transition: 200ms;
}

.albumlist {
    font-size: 0em;
    transition: 200ms;
}

.artistcard:hover > .albumlist {
    font-size: 1em;
    transition: 200ms;
  }