.albumlist {
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.albumlistitem {
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: 10;
}
.albumlistitem:hover {
    background-color: rgb(94, 94, 94);
    z-index: 10;
}